<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Whoami Microservice</title>
</head>

<body>
  <header>
    <h1>
      $ Whoami ?
    </h1>
  </header>

  <main>
    <section>
      <h2>Request Header Parser
</h2>
      <pre>
        <span class="key">GET</span> /api/whoami
      </pre>
      <pre>
          {
          &emsp; <span class="key">"ipaddress"</span>: "149.22.34.200",
          &emsp; <span class="key">"language"</span>: "en-US,en;q=0.5",
          &emsp; <span class="key">"software"</span>: "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0""
          }
        </pre>
      <a class="btn" href="api/whoami">Try it</a>
    </section>
  </main>

  <footer>
    <a class="link" href="https://github.com/z-bj">Zakaria Beji</a> 2023
  </footer>
</body>

</html>